<main class="form-main">
  <h3>Change Password</h3>
  <form class="form-form"
    [formGroup]="form">
    <mat-form-field>
      <input [type]="hidePassword ? 'password' : 'text'"
        matInput
        #currentPassword
        spellcheck="false"
        placeholder="Currnet Password"
        formControlName="currentPassword">
      <button mat-icon-button
        tabindex="-1"
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>
        Password minimum length 6, requires one letter, one number, one special character !@#$%^&* no spaces.
      </mat-hint>
      <mat-error>
        {{ formErrors['currentPassword'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hidePassword ? 'password' : 'text'"
        [errorStateMatcher]="errorMatcher"
        matInput
        spellcheck="false"
        placeholder="New Password"
        formControlName="newPassword">
      <button mat-icon-button
        tabindex="-1"
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>
        Password minimum length 6, requires one letter, one number, one special character !@#$%^&* no spaces.
      </mat-hint>
      <mat-error>
        {{ formErrors['newPassword'] ? formErrors['newPassword'] : validationMessages['newPassword']['passwordsMatch'] }}
      </mat-error>
    </mat-form-field>

    <div class="form-button-row">
        <button mat-raised-button
          [disabled]="!form.valid"
          (click)="changePasswordClicked();"
          color="primary">Change Password</button>

        <button mat-raised-button
          [routerLink]="['/home']"
          color="primary">Back</button>
      </div>
  </form>
</main>
